@font-face {
    font-family: 'poppin';
    src: url(/assets/font/Poppins-Regular.ttf);
}

* {
    font-family: poppin;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.main-layout {
    margin-inline-start: 1em;
    margin-inline-end: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.page-container {
    flex-direction: column;
    height: 100vh;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    width: 100%;
    object-fit: cover;
}

button {
    cursor: pointer;
}

button:hover {
    opacity: 0.6;
}

.location-input {
    background-color: transparent;
    color: black;
    text-align: center;
    font-size: 2em;
    border: 2px solid black;
    margin-inline-end: 0.5em;
    width: 20em;
    background-color: white;
    border-radius: 6px;
    border: none;
}

::placeholder {
    color: black;
}

.header-container {
    justify-content: space-around;
    background-color: #2196f396;
    min-height: 10em;
    border-bottom: 1px solid #cdbfbf;
}

.logo {
    font-size: 3em;
}

.btn-get-locs {
    width: 3em;
    font-size: 1.5em;
}

.btn-get-locs,
.btn-user-pos,
.copy-location {
    border-radius: 6px;
    background-color: #ffc107db;
    padding: 5.6px 5.3px 5.1px 5.3px;
    border: none;
}

.btn-user-pos {
    font-size: 2em;
}

section {
    grid-row: 1;
}

.location-display-conatiner {
    justify-content: space-around;
    /* min-height: 20vh; */
}

.copy-location {
    font-size: 2em;
}

.main-container {
    flex-grow: 3;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "weather map "/* / */
    " locations map  "/* / */
    ;
    gap: 1em;
    justify-items: center;
}

#map {
    grid-area: map;
    width: 90%;
}

.weather-container {
    font-size: 2em;
    grid-area: weather;
    text-align: center;
}

.locations-table-container {
    align-self: center;
    width: 100%;
    height: 100%;
}

table {
    text-align: center;
    grid-area: locations;
    border-collapse: collapse;
    font-size: 2em;
    width: 100%;
    height: 100%;
    border: 2px solid black;
}

thead {
    background-color: #2196f396;
}

thead td {
    min-width: 190px;
    border: 1px solid black;
    border-bottom: 2px solid black;
}

th:last-child {
    column-span: 3;
}

td {
    border: 1px solid #e5e5e5;
}

td:last-child {
    min-width: 250px;
}

td:last-child * {
    font-size: 0.8em;
}

tbody {
    background-color: #ffc10796;
}

.table-go-btn {
    width: 4rem;
    background-color: greenyellow;
}

.remove-btn {
    border-radius: 6px;
    background-color: red;
}

.table-go-btn,
.remove-btn {
    border-radius: 6px;
    border: none;
}

.copy-rights {
    font-size: 2em;
    background-color: #2196f396;
    text-align: center;
}


/* helpers */

.align-center {
    align-items: center;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}