body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: #efe9e9;
}

.main-layout {
    margin-inline-start: 1em;
    margin-inline-end: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.page-container {
    flex-direction: column;
    height: 100vh;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    width: 100%;
    object-fit: cover;
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.btn-get-locs {
    background-color: white;
}

.header-container {
    justify-content: space-around;
    background-color: crimson;
}

.header-container * {
    font-size: 2em;
    border: none;
}

.location-display-conatiner {
    background-color: yellowgreen;
    justify-content: space-around;
    /* min-height: 20vh; */
}

.copy-location {
    font-size: 2em;
}

.main-container {
    flex-grow: 1;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "weather map "/* / */
    " locations map  "/* / */
    ;
    gap: 1em;
}

#map {
    grid-area: map;
    width: 100%;
}

.weather-container {
    font-size: 2em;
    grid-area: weather;
    text-align: center;
    background-color: tomato;
}

.locations-table-container {
    align-self: center;
    width: 100%;
    height: 100%;
}

table {
    grid-area: locations;
    border-collapse: collapse;
    font-size: 2em;
    width: 100%;
    height: 100%;
}

thead {
    background-color: aqua;
}

th:last-child {
    column-span: 3;
}

td {
    border: 1px solid black;
}

tbody {
    background-color: blueviolet;
}

.copy-rights {
    font-size: 2em;
    background-color: brown;
    text-align: center;
}


/* helpers */

.align-center {
    align-items: center;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}